.Home{
    margin-top: -20px;
    background-color: rgb(252, 252, 252);
    
}
.search{
    
    margin-top: 20px;
    margin-left: 0px;
    padding: 5px;
    background-color: rgb(255, 146, 3);
    width: 1600px;
    height: 60px;
    padding-top: 40px;
    
}
.search input{
    float: left;
    height: 30px;
    filter: drop-shadow(0 0 0.3rem rgb(255, 40, 40));
    margin-left: 20px;
}
.search button{
    
    float: left;
    margin-left: 20px;
    height: 35px;
    width: 35px;
    filter: drop-shadow(0 0 0.3rem rgb(255, 40, 40));
}
.search img{
    
    height: 10px;
    width: 10px;
}
@media screen and (max-width : 700px) {
    .search input{
        margin-left: 0px;
        width: 120px;
        filter: drop-shadow(0 0 0.3rem rgb(255, 40, 40));
    }
    .search button{
        margin-left: 10px;
        height: 35px;
        width: 30px;
        filter: drop-shadow(0 0 0.3rem rgb(255, 40, 40));
    }
    
}