.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: aqua;
    list-style-type: none;
    margin: 0%;
    height: 50px;
    
    
  }
  .navbar li{
    background-color: rgb(236, 155, 49);
    width: 100px;
    padding: 10px;
  }
  .nav{
    color: black;
    text-decoration: none;
    
  }

  